.image-wrapper {
  background-size: cover;
  background-position: 50%;
  height: 175px;
  .card-img-top {
    display: none;
  }
}

.link1 {
  animation-duration: 600ms;
}

.link2 {
  animation-duration: 800ms;
}

.link3 {
  animation-duration: 1000ms;
}

.link4 {
  animation-duration: 1200ms;
}

.link5 {
  animation-duration: 1400ms;
}

.link6 {
  animation-duration: 1600ms;
}